h1 {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
ul {
    background-color: green;
    color: white;
    font-size: 18px;
}

.link_button {
    border: solid 1px #20538D;
    background: orange;
    color: #FFF;
    padding: 4px 8px;
    text-decoration: none;
    margin: 50px;
    font-size: 18px;
}
p{
    background-color: #ffb6c1;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.Number-2 {
    color: blue;
    font-size: 36px;
}

.Number-3 {
    font-size: 24px;
}

.Number-4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}